<div class="flex items-center justify-between">
  <button mat-stroked-button color="primary" (click)="onAddDraftTask()">
    <mat-icon>add</mat-icon>
    Add Task
  </button>

  <div class="action-bar">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        [formControl]="filterCtrl"
        placeholder="Filter description"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [formControl]="sortCtrl">
        <mat-option value="desc"> Newest to Oldest </mat-option>
        <mat-option value="asc"> Oldest to Newest </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="flex flex-wrap gap-2">
  <app-task
    *ngIf="draftTask"
    [task]="draftTask"
    (taskCancelled)="onClearDraft()"
    (taskSaved)="onClearDraft()"
  ></app-task>
  <app-task
    *ngFor="let task of allTasks$ | async; trackBy: taskTrackBy"
    [task]="task"
  ></app-task>
</div>
